<p-card header="Редактор JSON" styleClass="editor-card">
  <ng-template pTemplate="header">
    <div class="card-header-content">
      <div class="header-left">
        <i class="pi pi-file-edit"></i>
        <span>Редактор JSON</span>
      </div>
      <div class="header-actions">
        <p-button
          icon="pi pi-arrow-down-left-and-arrow-up-right-to-center"
          label="Мініфікація"
          (onClick)="minify()"
          size="small"
          [outlined]="true"
          pTooltip="Мініфікація JSON"
          tooltipPosition="bottom">
        </p-button>
        <p-button
          icon="pi pi-code"
          label="Форматування"
          (onClick)="prettify()"
          size="small"
          [outlined]="true"
          pTooltip="Форматування JSON з відступом"
          tooltipPosition="bottom">
        </p-button>
        <p-button
          icon="pi pi-sort-alpha-down"
          label="Сортування ключів"
          (onClick)="sortKeys()"
          size="small"
          [outlined]="true"
          pTooltip="Сортування ключів JSON за алфавітом"
          tooltipPosition="bottom">
        </p-button>
        <p-button
          icon="pi pi-sparkles"
          label="Генерація схеми"
          (onClick)="generateSchema()"
          size="small"
          severity="help"
          [outlined]="true"
          pTooltip="Автоматична генерація схеми з JSON"
          tooltipPosition="bottom">
        </p-button>
        <p-button
          icon="pi pi-check-circle"
          label="Перевірити"
          (onClick)="validate()"
          size="small"
          severity="success"
          pTooltip="Перевірити проти схеми"
          tooltipPosition="bottom">
        </p-button>
        <p-button
          icon="pi pi-download"
          label="Експортувати JSON"
          (onClick)="exportJsonText()"
          size="small"
          severity="info"
          [outlined]="true"
          pTooltip="Експортувати JSON до файлу"
          tooltipPosition="bottom">
        </p-button>
      </div>
    </div>
  </ng-template>

  <div class="json-editor-wrapper">
    <div class="line-numbers">
      <div
        *ngFor="let line of jsonText.split('\n'); let i = index"
        class="line-number"
        [class.error-line]="getLineErrors(i + 1)"
        [pTooltip]="getLineErrors(i + 1)"
        [tooltipPosition]="'right'"
        [escape]="false">
        {{ i + 1 }}
      </div>
    </div>
    <div class="editor-container">
      <div
        class="syntax-highlight"
        [innerHTML]="getHighlightedJson()"
        aria-hidden="true">
      </div>
      <textarea
        pInputTextarea
        [(ngModel)]="jsonText"
        (ngModelChange)="onTextChange()"
        (click)="updateCursorPosition($event)"
        (keyup)="updateCursorPosition($event)"
        (keydown)="handleAutoClose($event)"
        [rows]="15"
        class="json-editor"
        placeholder="Введіть ваш JSON тут..."
        [autoResize]="false"
        spellcheck="false">
      </textarea>
    </div>
  </div>

  <div class="validation-messages" *ngIf="validationResult">
    <p-message
      *ngIf="validationResult.valid"
      severity="success"
      [text]="'JSON дійсний відповідно до схеми'">
    </p-message>

    <div *ngIf="!validationResult.valid">
      <p-message
        severity="error"
        [text]="'Знайдено ' + validationResult.errors.length + ' помилку(и) перевірки'">
      </p-message>
      <div class="error-list">
        <div *ngFor="let error of validationResult.errors" class="error-item">
          <p-message severity="warn" [text]="error.path + ': ' + error.message">
          </p-message>
        </div>
      </div>
    </div>
  </div>
</p-card>
